[submodule "Hexalith"]
	path = Hexalith
	url = https://github.com/Hexalith/Hexalith.git
[submodule "Hexalith.Inventories"]
	path = Hexalith.Inventories
	url = https://github.com/Hexalith/Hexalith.Inventories.git
